/*

... some CSS that works within quirks mode is not valid in standards mode.
In specific, all percentage-based sizes must inherit from parent block elements,
 and if any of those ancestors fail to specify a size, they are assumed to be
 sized at 0 x 0 pixels.

This CSS declaration indicates that the map container <div> (with id map)
should take up 100% of the height of the HTML body. Note that we must specifically declare those percentages for <body> and <html> as well.

Source: https://developers.google.com/maps/documentation/javascript/tutorial#HTML5

*/

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
    height: 100%;
    display: flex;
    overflow: hidden;
    right: 15px;
}

#main{
  display: flex;
}

.map-container {
  height: 100%;
  margin: 15px -10px 15px 15px;
  flex-wrap: wrap;
}

.left-sidebar {
  margin-left: 5px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    color: #000;
    list-style: none;
    letter-spacing: 1px;
    line-height: 1.5em;
}

li:hover{
    background: #FF6F69;
    color: #FFF;
}

/* Smartphones: portrait */
@media screen and (max-width: 350px){
    li {
      font-size: 0.9em;
    }
    #map {
      height: 70%;
    }


}

/* Smartphones: landscape */
@media screen and (max-width: 650px) {

    input {
      font-size: 0.8em;
    }
    label, li {
      font-size: 0.9em;
    }
    #map {
      height: 65%;

    }
    .flexBox2 {
      position: absolute;
      right: 0px;
      top: 50px;
      margin: 10px 10px 10px 10px
      width: 70%;
      height: 60%;
    }

}
